<div id="theme_Wrap" style="display: none">
    <section class="zchat-theme">
        <ul>
            <li><span class="theme-circle alpha" data-theme="ThemeAlpha"></span></li>
            <li><span class="theme-circle beta" data-theme="ThemeBeta"></span></li>
            <li><span class="theme-circle gamma" data-theme="ThemeGamma"></span></li>
            <li><span class="theme-circle delta" data-theme="ThemeDelta"></span></li>
        </ul>
    </section>
</div>
<script src="../js/custom/ZChatTheme.js"></script>